<% for(var i=0; i<offices.length; i++) {%>
   <li><a href="#<%= offices[i].Name %>" class="office" data-officelist-id="<%= offices[i].Id %>"><%= offices[i].Office %> - <%= offices[i].Name %></a></li>
<% } %>
