<div class="tt-item suggestion">
    <a href="#" class="suggestion-link suggestion-office">
        <p class="office-number pull-right">{{ Office }}</p>
        <p class="office-name"><strong>{{ Name }}</strong></p>
        <p class="office-serving muted"><small>{{ Serving }}</small></p>
    </a>
</div>
