html {
    color: #000;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#top-nav {
    height: 60px;
    width: 100%;
    background: #F1F1F1;
    z-index: 6;
    border-bottom: 1px solid #E5E5E5;
}

#search-map {
    padding-top: 15px;
    text-align: center;
}
.twitter-typeahead {
    vertical-align: top;
}
.typeahead,
.tt-query,
.tt-hint {
    width: 596px;
    height: 20px;
    padding: 4px 12px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #CDCDCD;
    border-color: rgba(0, 0, 0, 0.15);
    border-right-width: 0;
    outline: none;
}
.typeahead:focus,
.tt-query:focus,
.tt-hint:focus {
    border-color: #4285f4;
}
.typeahead {
    background-color: #fff;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    width: 622px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}
.tt-suggestion a {
    color: black;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #0097cf;
}
.tt-suggestion.tt-is-under-cursor a{
    color: white;
}
.tt-suggestion p {
    margin: 0;
}

#search-button {
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    outline: none;
    padding: 0;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFF;
    margin: 0;
    background: #4285F4;
    background: -webkit-linear-gradient(top,#4387FD,#4683EA);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1);
}
#search-button .icon-search{
    background-image: url('//ssl.gstatic.com/gb/images/v1_90902864.png');
    background-size: 271px 616px;
    background-position: -100px -173px;
    display: inline-block;
    height: 30px;
    width: 30px;
}
@media (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25), not all {
    #search-button .icon-search{
        background-image: url('//ssl.gstatic.com/gb/images/v2_481f137b.png');
    }
}

#page {
    position: relative;
}

.left-panel {
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    height: 100%;
    background: #FBFBFB;
    overflow: scroll;
    -webkit-transition: width 0.1s ease-in-out;
}
.left-panel.open {
    width: 30%;
}
.left-panel header {
    padding: .5em 1em;
    border-bottom: 1px solid #EBEBEB;
}
.left-panel ul {
    list-style: none;
    margin: 0;
    padding: .5em 1em;
    line-height: 1.5;
}

#map-container {
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    -webkit-transition: width 0.1s ease-in-out;
}
#map-container.pushed {
    width: 75%;
}

#map {
    width: 100%;
    height: 100%;
    border: 1px solid #D9D9D9;
    background: #E5E3DF;
    overflow: hidden;
}

.map .control-container {
    cursor: pointer;
    margin: 5px;
    background-color: #FFF;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
.map .control-container:hover {
    background-color: rgb(235, 235, 235);
}
.map .control-button {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    padding: 1px 6px;
    text-align: center;
    position: relative;
    color: #565656;
}
.map .control-button:hover {
    color: black;
}

.expand-left .control-container {
    background: white;
    padding: 5px 8px;
    border: 1px solid #999;
    left: 0;
    margin: 0;
}
.expand-left .control-button {
    text-indent: -999px;
    background: no-repeat url('../images/icons-small.png') -155px -26px;
    width: 6px;
    height: 12px;
    padding: 0;
}
#map-container.pushed .expand-left .control-button {
    background-position: -132px -26px;
}

.shadow-top, .shadow-right, .shadow-left, .shadow-bottom {
    position: absolute;
    z-index:50;
}
.shadow-top {
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(top,rgba(153,153,153,0.5), rgba(0,0,0,0));
}
.shadow-left {
    width: 5px;
    height: 100%;
    background: -webkit-linear-gradient(left,rgba(153,153,153,0.5), rgba(0,0,0,0));
}

.gmap-popup ul {
    list-style: none;
}

.gmap-popup hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: solid #EEEEEE;
    border-width: 1px 0 0 0;
    margin: 18px 0;
    color: inherit;
    height: 0;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.btn {
    display: inline-block;
    min-width: 54px;
    border: 1px solid #DCDCDC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
    font-size: 85%;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
    background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
}
.btn:hover {
    border: 1px solid #C6C6C6;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    background-color: #F8F8F8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F8F8F8),to(#F1F1F1));
    background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f8f8f8',EndColorStr='#f1f1f1');
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none;
}

#nprogress .bar {
  background: #4387FD;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #4387FD, 0 0 5px #4387FD;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #4387FD;
  border-left-color: #4387FD;
  border-radius: 10px;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation:    nprogress-spinner 400ms linear infinite;
  -ms-animation:     nprogress-spinner 400ms linear infinite;
  -o-animation:      nprogress-spinner 400ms linear infinite;
  animation:         nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.hide {
    display: none;
}
