html {
    color: #000;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
}
html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a, button, h1, h2, h3, h4, h5, h6, input, ol, p, ul, th {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: rgba(0, 0, 0, 0);
    list-style: none;
}
a, a:visited {
    text-decoration: none;
    color: #3A84DF;
}
a:hover {
    text-decoration: underline;
}

#search-container {
    position: absolute;
    z-index: 5;
    margin: 16px;
    top: 0;
}
.searchbox-shadow {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3) , 0 4px 15px -5px rgba(0,0,0,0.3);
}
.twitter-typeahead {
    vertical-align: top;
}
.lt-ie9 .twitter-typeahead {
    margin-top: 1px;
    background: white;
}
.typeahead,
.tt-query,
.tt-hint {
    width: 375px;
    height: 23px;
    padding: 4px 12px;
    font-size: 16px;
    line-height: 23px;
    border: 1px solid white;
    border-radius: 2px 0 0 2px;
    outline: none;
    -webkit-transition: border 0.2s ease-in-out;
    background: white;
}
.typeahead:focus,
.tt-query:focus,
.tt-hint:focus {
    border: 1px solid #4285f4;
}
.typeahead {
    background-color: white;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-hint {
    color: #999
}
.tt-dropdown-menu {
    margin-top: 1px;
    width: 400px;
    padding: 8px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 2px;
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
}
.tt-suggestion a {
    color: black;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #0097cf;
}
.tt-suggestion.tt-is-under-cursor a{
    color: white;
}
.tt-suggestion p {
    margin: 0;
}

#search-button {
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 33px;
    outline: none;
    padding: 0;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFF;
    margin: 0;
    background: #4285F4;
    background: -webkit-linear-gradient(top,#4387FD,#4683EA);
    background: linear-gradient(top,#4387fd,#4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=1);
    z-index: -1;
}
#search-button:hover {
    background-color: #357AE8;
    background-image: -webkit-linear-gradient(top,#4D90FE,#357AE8);
}
#search-button .icon-search{
    background-image: url('//ssl.gstatic.com/gb/images/v1_90902864.png');
    background-size: 271px 616px;
    background-position: -100px -173px;
    display: inline-block;
    height: 30px;
    width: 30px;
}
@media (min-resolution: 1.25dppx), (-webkit-min-device-pixel-ratio: 1.25), not all {
    #search-button .icon-search{
        background-image: url('//ssl.gstatic.com/gb/images/v2_481f137b.png');
    }
}

#page {
    position: relative;
}

.panel {
    height: 80%;
    width: 400px;
    position: absolute;
    top: 50px;
    margin: 4px 16px;
    z-index: 6;
    background: #FBFBFB;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: width 0.1s ease-in-out;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 -3px 8px rgba(0, 0, 0, 0.2);
}
.panel.open {
    width: 30%;
}
.panel header {
    padding: 13px;
}
.panel ul {
    list-style: none;
    margin: 0;
    padding: 13px;
    line-height: 1.5;
}

#map {
    width: 100%;
    height: 100%;
    border: 1px solid #D9D9D9;
    background: #E5E3DF;
    overflow: hidden;
}
.map .control-container {
    cursor: pointer;
    margin: 5px;
    background-color: #FFF;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
.map .control-container:hover {
    background-color: rgb(235, 235, 235);
}
.map .control-button {
    font-family: Roboto, Arial, sans-serif;
    font-size: 11px;
    padding: 1px 6px;
    text-align: center;
    position: relative;
    color: #565656;
}
.map .control-button:hover {
    color: black;
}

.expand-left .control-container {
    background: white;
    padding: 5px 8px;
    border: 1px solid #999;
    left: 0;
    margin: 0;
}
.expand-left .control-button {
    text-indent: -999px;
    background: no-repeat url('../images/icons-small.png') -155px -26px;
    width: 6px;
    height: 12px;
    padding: 0;
}
#map-container.pushed .expand-left .control-button {
    background-position: -132px -26px;
}

.gmap-popup ul {
    list-style: none;
}

.gmap-popup hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border: solid #EEEEEE;
    border-width: 1px 0 0 0;
    margin: 18px 0;
    color: inherit;
    height: 0;
}

.lt-ie9 .close-panel {
    background: white;
}
.close-panel-icon {
    display: inline-block;
    background: url(../images/icons.png) no-repeat;
    background-position: -3px -84px;
    width: 14px;
    height: 14px;
    opacity: 0.47;
}
.close-panel-icon:hover {
    opacity: .8;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  -webkit-pointer-events: none;
}

#nprogress .bar {
  background: #4387FD;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #4387FD, 0 0 5px #4387FD;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #4387FD;
  border-left-color: #4387FD;
  border-radius: 10px;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  -moz-animation:    nprogress-spinner 400ms linear infinite;
  -ms-animation:     nprogress-spinner 400ms linear infinite;
  -o-animation:      nprogress-spinner 400ms linear infinite;
  animation:         nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes nprogress-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes nprogress-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes nprogress-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.vertical-divider {
    background: linear-gradient(top,#fbfbfb,#e2e2e2,#fbfbfb);
    background: -o-linear-gradient(top,#fbfbfb,#e2e2e2,#fbfbfb);
    background: -ms-linear-gradient(top,#fbfbfb,#e2e2e2,#fbfbfb);
    background: -moz-linear-gradient(top,#fbfbfb,#e2e2e2,#fbfbfb);
    background: -webkit-linear-gradient(top,#FBFBFB,#E2E2E2,#FBFBFB);
    width: 1px;
    min-width: 1px;
    display: table-cell;
    vertical-align: top;
}
.hide {
    display: none;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
